@inherits LayoutComponentBase
<div class="main">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="favicon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Blazing Waffles
        </a>
    </nav>
    <div class="content px-4">
        @Body
    </div>
</div>